{% extends "base.html.twig" %}

{% block title %}Blog - {{ parent() }}{% endblock %}
{% block body_content %}
<section class="section--center mdl-grid">
    <h1>{{ title|default('Blog') }}</h1>
</section>

<main class="mdl-layout__content">
        {% for post in entries %}
            {% include 'cms/post/_item.html.twig' with {
                post: {
                    title: post.getTitle(),
                    author: {
                        name: post.getAuthor()|first.getName(),
                        picture: post.getAuthor()|first.getProfilePhoto()|default(
                        {
                            file:{
                                url: 'https://www.gravatar.com/avatar/00000000000000000000000000000000'
                            }
                        }
                        ).file.url ~ "?fm=jpg&w=215&h=215",
                    },
                    description: post.getBody(),
                    url: path('app_cms_post_show', {
                        'slug': post.getSlug()
                    }),
                    date: post.getDate()|date('d/m/Y'),
                    category: post.getCategory()|first,
                    picture: post.getFeaturedImage()|default(
                        {
                            file:{
                                url: 'https://www.gravatar.com/avatar/00000000000000000000000000000000?d=identicon&f=y'
                            }
                        }
                    ).file.url ~ "?fm=jpg&w=215&h=215",
                }
            } %}
        {% endfor %}
</main>
{% endblock %}
